            <hr>
            
            <div class="row">
                <div class="col-md-3">
                    <h3>Description</h3>
                </div>
                <div class="col-md-9">
					<p>
						The ultimate travel companion for you in the foreign language speaking country! Stay online all the time and be guaranteed to get access to google, facebook, twitter, youtube etc for all kinds of resources just as at home.
					</p>
					<h4>Features</h4>
					<p>
						Affordable data plan with reliable coverage and reception (Service is provided by China Mobile - China's greatest network carrier). Most importantly, we provide Cisco AnyConnect VPN service that renders one to connect google/facebook/youtube etc. from China, regardless of the well-known goverment restrictions on network control.
					</p>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list_ok">
								<li>Slim & light - weigh only 80g</li>
                                <li>8 hour battery life, 20 hour standby</li>
                                <li>Connect up to 5 WiFi enabled devices simultaneously</li>
								<li>Multi-language user interface</li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6">
							<ul class="list_ok">
								<li>Cisco AnyConnect VPN service </li>
                                <li>No setup, one button quick start</li>
                                <li>Download speeds up to 21 Mbps, upload speeds up to 5.76Mbps</li>
                                <li>10M (30ft) range of network coverage</li>
							</ul>
                        </div>
                    </div>
                    <!-- End row  -->
                </div>
            </div>
            <hr>
            
			<div class="row">
				<div class="col-md-3">
					<h3>Price Chart</h3>
				</div>
				<div class="col-md-9">
					<div class=" table-responsive">
						<table class="table table-striped">
						<thead>
						<tr>
							<th colspan="1">
								 Type/Data Quota
							</th>
							<th> Price </th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								Economic/2G
							</td>
							<td>
								$10
							</td>
						</tr>
						<tr>
							<td>
								Traveler/4G
							</td>
							<td>
								$15
							</td>
						</tr>
						<tr>
							<td>
								Business/10G
							</td>
							<td>
								$20
							</td>
						</tr>
						<tr>
							<td>
								Unlimited
							</td>
							<td>
								$30
							</td>
						</tr>
						</tbody>
						</table>
					</div>
					
				</div>
			</div>
            
			<hr>
            <div class="row">
                <div class="col-md-3">
                    <h3>Shipping & Payments</h3>
                </div>
                <div class="col-md-9">
					<h4>Shipping</h4>
					<p>
						Our valued customer will have two options for delivery:
						1) Ship oversea to your country before departure
						2) Ship within China to the place where you stay
						We enclose the return label so please attach the label to the original package and leave it to any mailbox, or leave it to the front desk if you stay in a hotel.
					</p>
					<h4>Payments</h4>
					<p>
						We accept Visa, Master card , American Express, Discovery, Paypal, etc.
					</p>
					<h4>Refund Policy</h4>
					<p>
						We will refund your deposit usually within 2 working days after your dropoff of the renal packages. If you used PayPal account balance or bank account as original funding source, the refund payment will be posted into your account balance immediately. But if you used credit card, the payment will be credited to the credit card. It may take up to 30 days to reflect on the credit card statement, depending on the card issuer.
					</p>
                </div>
            </div>
			<hr>